body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url(../Content/assets/dashboard.jpg);
    background-position: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-left-xs {
    margin-left: 5px;
}

.margin-left-lg {
    margin-left: 20px !important;
}

.font-size-md {
    font-size: 1.2em;
}

.btn-big-lg {
    padding: 12px 20px
}

.background-opacity {
    opacity: 0.6;
    background-color: darkgray;
    position: fixed;
    height: 100%;
    width: 100%;
}
