@{
    ViewBag.Title = "Home Page";
}
<div style="background-image: url('../Content/assets/dashboard.jpg')" class="image-dashboard"></div>
<div>
    <span>
        NOWE MENU
    </span>
</div>
<div>
    <span>
        Zamów online
    </span>
</div>