@{
    ViewBag.Title = "Home Page";
}
<div class="container-additional">
    <div class="container-description">
        <span class="additional-title">NOWE MENU</span>
        <span class="additional-description">od 1.06.2019 r. będzie nowe menu</span>
        <span class="additional-description">Sprawdźcie co się zmieniło</span>
    </div>
    <a href="@Url.Action("Index", "Menu")" >
        <div class="container-button"><span class="additional-button">Zobacz menu</span></div>
    </a>
</div>
<div class="container-additional">
    <div class="container-description">
        <span class="additional-title">NOWA FUNKCJONALNOŚĆ</span>
        <span class="additional-description">Od teraz możesz zamówić stolik u nas - jaki tylko chcesz - przez Internet!</span>
    </div>
    <a href="@Url.Action("Index", "BookTable")">
        <div class="container-button"><span class="additional-button">Zamów online</span></div>
    </a>
</div>
